/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: 'Norse Bold', sans-serif;
	overflow: auto;
	width: 100%;
	height: fit-content;
}

a {
	text-decoration: none;
}

:root {
	--primary-color: #1d8cf8;
	--primary-color-hover: #3f99f2;
	--primary-color-active: #007dfa;
	--danger: #ff2a2a;
	--success: #4caf50;
	--bg-color: #1a0317;
	--component-color: #27293d;
	--text-color: #ffffff;
	--border-radius: 15px;
	--border-radius-alt: 5px;
	--border-color-primary: #ccc;
	--box-shadow-col: rgb(0 0 0 / 16%) 0px 0px 6px, rgb(0 0 0 / 23%) 0px 0px 6px;
	--box-shadow-col-alt: 0 1px 20px 0 rgb(0 0 0 / 10%);
	--box-shadow-light: 0 2px 4px 0 rgba(204, 204, 204, 0.2);
}

button {
	display: flex;
	flex-direction: row;
	padding: 7px 9px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: var(--text-color);
	background-color: #462e46;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px rgba(225, 223, 223, 0.2);
	min-width: 90px;
	justify-content: center;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #624162;
}

button:active {
	border-color: var(--primary-color-active);
}

input {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid;
	background-color: var(--bg-color);
	color: var(--text-color);
}

input:focus {
	border-color: var(--primary-color);
}

video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

h1 {
	color: white;
	font-size: 50px;
}

/* Navbar starts here */
.nav-container {
	box-shadow: 0px 0px 10px 2px rgba(225, 223, 223, 0.2);
}

.nav {
	position: relative;
	display: flex;
	height: 72px;
	align-items: center;
	flex-direction: row;
	/* box-shadow: var(--box-shadow-col-alt); */
	box-shadow: 0px 0px 10px 2px rgba(225, 223, 223, 0.2);
	background-color: var(--bg-color);
}

.nav .logo,
.auth {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	height: 100%;
	padding: 0px 27px;
	color: var(--text-color);
}

.nav .logo {
	justify-content: flex-start;
}

.nav .logo a {
	font-size: 36px;
	font-weight: bolder;
}

.nav .auth {
	justify-content: flex-end;
}

.nav .auth button {
	margin-left: 15px;
}

/* Grid container */
.grid-container {
	display: grid;
	grid-template-columns: 0.8fr 1.2fr;
	height: 89vh;
	background-color: var(--bg-color);
	padding: 27px;
}

.grid-item {
	background-color: #462e46;
	padding: 20px;
}

.grid-container :first-child {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* box-shadow: inset -6px 4px 13px 4px #1a0317; */
	/* border-radius: 50%; */
	border-top-right-radius: 36%;
	border-bottom-left-radius: 36%;
	padding: 6px;
}

.grid-container :last-child {
	background-color: transparent;
	box-shadow: none;
}

/* Left side container */
.left-side-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.left-side-container .left-side-top {
	height: 20%;
	margin: 0px 9px;
}

.left-side-container .left-side-bottom {
	height: 80%;
	display: flex;
	flex-direction: column;
	padding: 27px 15px;
}

.left-side-container .left-side-top .left-side-item-one {
	display: flex;
	background: transparent;
	box-shadow: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.left-side-container .left-side-top .left-side-item-two {
	display: flex;
	background: transparent;
	box-shadow: none;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
}

.left-side-container .left-side-top .left-side-item-one,
.left-side-item-two .label-text {
	box-shadow: none;
	color: white;
	font-size: larger;
}

.left-side-container .left-side-top .left-side-item-one .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	border-radius: 34px;
	border: 1px solid;
	border-color: white;
}

.left-side-container .left-side-top .left-side-item-one .switch input {
	display: none;
}

.left-side-container .left-side-top .left-side-item-one .switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #462e46;
	transition: 0.4s;
	border-radius: 34px;
}

.left-side-container .left-side-top .left-side-item-one .switch .slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

.left-side-container
	.left-side-top
	.left-side-item-one
	.switch
	input:checked
	+ .slider {
	background-color: var(--bg-color);
}

.left-side-container
	.left-side-top
	.left-side-item-one
	.switch
	input:checked
	+ .slider:before {
	transform: translateX(26px);
}

.search-container {
	position: relative;
	display: inline-block;
}

.search-container input {
	padding-left: 30px;
	border-radius: 15px;
	width: 300px;
}

.search-container .fa-search {
	position: absolute;
	top: 44%;
	left: 10px; /* Adjust the position as needed */
	transform: translateY(-50%);
	color: white; /* Adjust the color as needed */
}
